body {
    margin: 0 10%;
    display: grid;
    grid-template-areas:
      "header "
      "main   "
      "footer ";
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color:ghostwhite
}

#state-design {
    display: grid;
    grid-template-areas:
    "h1 h1 h1"
    "article article article";
    grid-template-columns: 1fr 1fr 1fr;
}

#state-design {
 display: grid;
 grid-gap: 20px;
}

#state-design h1 {
  grid-column: 1/4;
}

/* cuando llega a un cierto tamaño bloquea state-design */
@media (max-width: 768px) {
  #state-design {
    display: block;
  }
}